@import url("https://fonts.googleapis.com/css2?family=DM%20Sans:wght@400;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: GTL;font-display: swap;src: url("../assets/fonts/GTL-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?95b7e756024a732385227f7fbe40b607") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-ytb"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-x"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-tk"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-pntrst"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-ldn"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-inst"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f107"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #090909;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.title {
  text-align: center;
}
.title {
  font-weight: 700;
  line-height: 1;
}
.title--main {
  color: #f5efe6;
}
.title--bg {
  background: linear-gradient(180deg, #000000, #202b13 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 0.1875rem;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #1a4d2e;
}
.header__body {
  padding-top: 0.3125rem;
  padding-bottom: 0.4375rem;
  display: flex;
  align-items: center;
}
.header__logo {
  color: #f5efe6;
  font-family: "GTL", sans-serif;
}
.header__logo {
  line-height: 1.1;
}
.header__logo-link span {
  transition: color 0.3s ease;
}
.header__menu {
  flex-grow: 1;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background-color: #1a4d2e;
}
.footer > *:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  color: #f5efe6;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.1;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__list {
  align-self: flex-start;
}
.footer__body {
  margin: 0 auto;
  max-width: 71.875rem;
  padding-inline: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copy {
  text-wrap: pretty;
  text-align: center;
  color: #f5efe6;
  line-height: 1.1;
}/* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0.5rem 1.25rem;
  min-height: 2.625rem;
  caret-color: inherit;
  color: #f5efe6;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s ease, color 0.3s ease;
}
.input.--form-focus {
  outline: none;
  border-color: #f5efe6;
}
.input.--form-error {
  border: 0.0625rem solid #ff8f8f;
}
.input::placeholder {
  color: #f5efe6;
}

.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}/* Generated by vite-plugin-svg-spritemap */
.form {
  display: flex;
}
.form__button {
  min-height: 2.625rem;
}
.form__line {
  width: 100%;
}

[data-fls-form-error] {
  font-family: "Inter", sans-serif;
  color: #ff8f8f;
  font-size: 0.875rem;
  margin-top: 0.3125rem;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.75rem 1.25rem;
  color: #1a4d2e;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02rem;
  border-radius: 0.625rem;
  background-color: #e8dfca;
  transition: color 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
}
.button--icon-arrow {
  width: 12.5rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
}
.button--icon-arrow::before {
  transition: transform 0.3s ease;
}
.button--white {
  align-items: center;
  justify-content: center;
  background-color: #f5efe6;
}/* Generated by vite-plugin-svg-spritemap */
.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25rem;
}
.social__link {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 0.5019607843);
  will-change: scale, color;
  transition: color 0.3s ease, scale 0.3s ease;
}/* Generated by vite-plugin-svg-spritemap */
.link {
  position: relative;
  padding-bottom: 0.125rem;
  color: #f5efe6;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.43;
  letter-spacing: -0.01rem;
}
.link--bold {
  font-weight: 700;
  line-height: 1.1 !important;
  letter-spacing: 0rem;
}
.link--menu {
  padding-bottom: 0.0625rem;
}
.link::after {
  content: "";
  width: 0;
  height: 0.0625rem;
  background-color: #f5efe6;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: background-color 0.3s, width 0.3s, left 0.3s;
}
.link--active::after {
  left: 0;
  width: 100%;
  background-color: #f5efe6;
}/* Generated by vite-plugin-svg-spritemap */@media (width <= 61.99875em){
  .footer__list {
    column-gap: 1.875rem;
  }
}@media (width <= 47.99875em){
  .link--menu {
    font-size: 1rem;
  }
}@media (max-width: 43.74875em){
  .footer__container {
    flex-direction: column-reverse;
  }
  .footer__body {
    flex-direction: column-reverse;
  }
}@media (width <= 29.99875em){
  .menu__list {
    column-gap: 0.75rem;
  }
  .header__body {
    min-height: 3.4375rem;
  }
  .header__body {
    column-gap: 0.625rem;
  }
  .header__logo {
    font-size: 1.5rem;
  }
  .button--head {
    font-size: 1rem;
  }
  .button--head {
    padding-inline: 0.75rem;
  }
}@media (max-width: 29.99875em){
  .title {
    line-height: 1.05;
  }
  .input {
    padding-block: 0.9375rem;
  }
  .form {
    flex-direction: column;
  }
  .form__button {
    padding-block: 1rem;
  }
  .button--icon-arrow {
    width: 100%;
  }
  .button--white {
    padding-block: 0.9375rem;
  }
  .social {
    justify-content: center;
  }
}@media (max-width: 25.06125em){
  .header__logo {
    flex-basis: 5rem;
  }
  .header__logo-link {
    flex-basis: 5rem;
  }
}@media (max-width: 21.31125em){
  .header__logo {
    font-size: 1.0625rem;
    flex-basis: 3.75rem;
  }
  .header__logo-link {
    flex-basis: 3.75rem;
  }
}@media (width <= 20em){
  .title {
    font-size: 1.6875rem;
  }
  .title--main {
    font-size: 1.8125rem;
  }
  .header__logo {
    font-size: 1.125rem;
  }
  .footer {
    padding-top: 1.5625rem;
  }
  .footer__top {
    padding-bottom: 1.25rem;
  }
  .footer__container {
    gap: 0.9375rem;
  }
  .footer__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .footer__list {
    row-gap: 0.5rem;
  }
  .footer__bottom {
    padding-top: 1.25rem;
  }
  .footer__bottom {
    padding-bottom: 1.25rem;
  }
  .footer__body {
    gap: 0.5rem;
  }
  .form {
    gap: 0.5rem;
  }
  .button--icon-arrow {
    font-size: 1.125rem;
  }
  .button--icon-arrow {
    padding-block: 0.9375rem;
  }
  .social {
    row-gap: 0.75rem;
  }
}@media (width > 20em) and (width <= 71.875em){
  .title {
    font-size: clamp( 1.6875rem , 0.7959337349375rem  +  4.4578313253vw , 4rem );
  }
  .title--main {
    font-size: clamp( 1.8125rem , 0.342620481925rem  +  7.3493975904vw , 5.625rem );
  }
  .footer {
    padding-top: clamp( 1.5625rem , 0.96009036144375rem  +  3.0120481928vw , 3.125rem );
  }
  .footer__top {
    padding-bottom: clamp( 1.25rem , 0.5271084337375rem  +  3.6144578313vw , 3.125rem );
  }
  .footer__container {
    gap: clamp( 0.9375rem , 0.57605421686875rem  +  1.8072289157vw , 1.875rem );
  }
  .footer__title:not(:last-child) {
    margin-bottom: clamp( 0.75rem , 0.50903614458125rem  +  1.2048192771vw , 1.375rem );
  }
  .footer__list {
    row-gap: clamp( 0.5rem , 0.33132530120625rem  +  0.843373494vw , 0.9375rem );
  }
  .footer__bottom {
    padding-top: clamp( 1.25rem , 1.1295180722875rem  +  0.6024096386vw , 1.5625rem );
  }
  .footer__bottom {
    padding-bottom: clamp( 1.25rem , 1.1295180722875rem  +  0.6024096386vw , 1.5625rem );
  }
  .footer__body {
    gap: clamp( 0.5rem , 0.21084337349375rem  +  1.4457831325vw , 1.25rem );
  }
  .form {
    gap: clamp( 0.5rem , 0.40361445783125rem  +  0.4819277108vw , 0.75rem );
  }
  .button--icon-arrow {
    font-size: clamp( 1.125rem , 1.07680722891875rem  +  0.2409638554vw , 1.25rem );
  }
  .button--icon-arrow {
    padding-block: clamp( 0.9375rem , 0.8170180722875rem  +  0.6024096386vw , 1.25rem );
  }
  .social {
    row-gap: clamp( 0.75rem , 0.5572289156625rem  +  0.9638554217vw , 1.25rem );
  }
}@media (width > 20em) and (width <= 29.99875em){
  .header__logo {
    font-size: clamp( 1.125rem , 0.37490623828125rem  +  3.7504688086vw , 1.5rem );
  }
}@media (min-width: 25.06125em){
  .header__logo {
    white-space: nowrap;
  }
}@media (width > 29.99875em) and (width <= 71.875em){
  .menu__list {
    column-gap: clamp( 0.75rem , 0.21272499328125rem  +  1.7909913137vw , 1.5rem );
  }
  .header__body {
    min-height: clamp( 3.4375rem , 2.0943124832125rem  +  4.4774782842vw , 5.3125rem );
  }
  .header__body {
    column-gap: clamp( 0.625rem , -0.00182084116875rem  +  2.089489866vw , 1.5rem );
  }
  .header__logo {
    font-size: clamp( 1.5rem , 1.1418166621875rem  +  1.1939942091vw , 2rem );
  }
  .button--head {
    font-size: clamp( 1rem , 0.91045416555rem  +  0.2984985523vw , 1.125rem );
  }
  .button--head {
    padding-inline: clamp( 0.75rem , 0.3918166621875rem  +  1.1939942091vw , 1.25rem );
  }
}@media (min-width: 29.99875em){
  .form__button {
    align-self: flex-start;
  }
}@media (min-width: 43.74875em){
  .footer__subscribe {
    flex-basis: 25.125rem;
    flex-shrink: 0;
  }
}@media (width > 47.99875em) and (width <= 71.875em){
  .link--menu {
    font-size: clamp( 1rem , 0.74871080048125rem  +  0.5235327993vw , 1.125rem );
  }
}@media (min-width: 47.99875em){
  .form__line {
    max-width: 17.875rem;
  }
}@media (width > 61.99875em) and (width <= 71.875em){
  .footer__list {
    column-gap: clamp( 1.875rem , -11.85716206809375rem  +  22.1490950513vw , 4.0625rem );
  }
}@media (width > 71.875em){
  .title {
    font-size: 4rem;
  }
  .title--main {
    font-size: 5.625rem;
  }
  .menu__list {
    column-gap: 1.5rem;
  }
  .header__body {
    min-height: 5.3125rem;
  }
  .header__body {
    column-gap: 1.5rem;
  }
  .header__logo {
    font-size: 2rem;
  }
  .footer {
    padding-top: 3.125rem;
  }
  .footer__top {
    padding-bottom: 3.125rem;
  }
  .footer__container {
    gap: 1.875rem;
  }
  .footer__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }
  .footer__list {
    column-gap: 4.0625rem;
  }
  .footer__list {
    row-gap: 0.9375rem;
  }
  .footer__bottom {
    padding-top: 1.5625rem;
  }
  .footer__bottom {
    padding-bottom: 1.5625rem;
  }
  .footer__body {
    gap: 1.25rem;
  }
  .form {
    gap: 0.75rem;
  }
  .button--icon-arrow {
    font-size: 1.25rem;
  }
  .button--icon-arrow {
    padding-block: 1.25rem;
  }
  .button--head {
    font-size: 1.125rem;
  }
  .button--head {
    padding-inline: 1.25rem;
  }
  .social {
    row-gap: 1.25rem;
  }
  .link--menu {
    font-size: 1.125rem;
  }
}@media (any-hover: hover), (pointer: fine){
  html:not([data-fls-touch]) .header__logo-link:hover span {
    color: #e8dfca;
  }
  html:not([data-fls-touch]) .input:hover {
    border-color: #f5efe6;
  }
  html:not([data-fls-touch]) .button:hover {
    color: #e8dfca;
    background-color: #202b13;
  }
  html:not([data-fls-touch]) .button:hover::before {
    transform: translateX(0.375rem);
  }
  html:not([data-fls-touch]) .social__link:hover {
    color: #f5efe6;
    scale: 1.15;
  }
  html:not([data-fls-touch]) .link:hover::after {
    left: 0;
    width: 100%;
    background-color: #fff;
  }
}